h1 {
    font-family: 'Playfair Display', serif;
    text-align-last: center;
    margin-bottom: 15px;
    margin-top: 100px
}

p{
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.contenedor {
    width: 100%;
    max-width: 100%x;
    margin: 0 auto;
}
/*MENU*/


.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 999;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .show g {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }
    }

/*PRINCIPAL*/
.principal {
    margin-top: 0;
    margin-bottom: 0;
}

.principal img {
    height: auto;
    max-width: 100%;
    text-align: center;
    display: block;
    }


/*VIDEO*/

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*DISCOS*/
.diss {
    text-align: center;
    line-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;

}

.dissh {
    width: 100%;
}
.diss > .dissh:hover {
    transform: scale(1.1); 
}

.diss > div {
    display: inline-block;
    padding: 20px;
}

/*NEWS*/
.news {
    box-sizing: border-box;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
    align-content: stretch;
}

.news .col {
    display: inline-block;
    width: 23%;
    margin-right: 1.5%;
    height: 300px;
    overflow: auto;
}

button {
    cursor: pointer;
}

.news button {
    margin-left: 0;
    display: inline;
}

.col {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

.fecha {
    font-size: 11px;

}

/*BIO*/
#bio {
    /*margin-top: 100px;*/
    margin-left: 200px;
    margin-right: 200px;
}
#bio img{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

#bio p {
    margin-left: 2px;
    text-align: justify;
}


/*NEWSLETTER*/
#newsletter {
    margin-right: 200px;
    margin-left: 200px;
}

legend {
    font-family: 'Oswald', sans-serif;
}

#lchica {
    font-size: 0.8rem;
    width: 100%;
}

#radio {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

button {
    margin: 20px;
    align-content: center;
}

form p{
    font-size: 0.8rem;
    width: 70%;
}

footer {
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
}



/* 992px o menos */


@media screen and (max-width: 992px){
    
    /*Novedade*/
    .news {
        box-sizing: border-box;
        display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-items: center;
        align-content: center;
        
    }
    
    .principal img {
        height: auto;
        max-width: 30%;
        }

    /*VIDEO*/

    #videos {
        height: auto;
        max-width: 30%;
        }

    /*Discos*/ 
    .diss {
        
        margin:0px;
        padding:0px;
        padding-left:5%;
        display:block;
        float:none;
        text-align:center;
        padding-left:20%;
    }

    .diss > div {
        display: inline-block;
        padding: 20px;
    }   

    /*Biografia*/
    
    #bio img {
        height: auto;
        max-width: 30%;
    float: none;
    text-align: center;
    display: block;
    }

    #bio p {
        text-align: center;
    }

    body {
        width: 350%;
    }
}
